.main-wrapper .ant-picker-calendar,
.main-wrapper .ant-picker-calendar-header,
.main-wrapper .ant-picker-panel{
    background: transparent !important;
}
.main-wrapper .ant-picker-calendar .ant-picker-panel thead th{
    padding-right: 8px;
    color: var(--color-disabled);
}
.main-wrapper .date-cell{
    background: var(--color-bg-card);
    border-top: 1px solid #F0F0F0;
}
.main-wrapper table{
    border-spacing: 10px 0px;
    border-collapse: separate;
}
.date-cell .ant-picker-calendar-date-value{
    padding: 4px 8px 0;
}
.events{
    padding-left: 8px;
}
.ant-drawer-header-title{
    flex-direction: row-reverse;
    align-items: center;
}
.ant-drawer-close{
    padding: 0;
    margin: 0 !important;
}