.achievements .ant-tag-blue{
    color: var(--color-primary);
    background: var(--color-bg-blue);
    border-color: #ADC6FF;
}
.achievements .ant-tag-default{
    background: var(--color-bg-card);
}
.achiev-filter-title{
    margin-right: var(--unit-24);
}
.graphics-wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.has-load .ant-badge-count{
    background-color: var(--color-primary);
    margin-right: var(--unit-16);
}
.hasnt-load .ant-badge-count{
    background-color: var(--color-bg-blue);
    color: var(--color-primary);
    margin-right: var(--unit-16);
}
.has-type .ant-badge-count{
    margin-right: var(--unit-16);
}
.hasnt-type .ant-badge-count{
    background-color: #ffd9d9;
    color: var(--color-error);
}
.graphic-list__title{
    line-height: 18.2px;
}
.graphic-list-wrapper{
    width: 205px;
    margin-right: 285px;
}
.graphic-list-wrapper .ant-list-split .ant-list-item{
    border: none;
    padding: 7px 0;
}
.graphic-list-wrapper .ant-list-item{
    justify-content: start;
}
.graphic-list-item span:nth-child(2){
    margin-right: var(--unit-16);
    color: var(--color-disabled);
    width: 95px;
}
.graphic-list-item span:last-child{
    font-weight: var(--font-weight-700);
}
.pie-graphics-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (max-width: 800px) {
    .graphic-list-wrapper{
        width: 330px;
        margin-right: 0;
    }
    .exerc-list__margin{
        margin-top: -200px;
    }
}