.change-password__title {
    text-align: center;
}
.change-password-form .change-password__title {
    margin-bottom: 32px;
}
.change-password-form #normal_registration_password_help {
    font-size: 12px;
    margin-bottom: 28px;
}
.change-password-form .ant-form-item:last-child {
    margin-top: 62px;
    margin-bottom: 0px;
}
