.partner-modal-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.partner-modal-wrap .ant-btn-text{
    border: 1px solid var(--color-bg-grey);
    height: 40px;
}
 @media screen and (max-width: 370px) {
    .partner-modal-wrap{
        flex-wrap: wrap;
    }
    .partner-modal-wrap:last-child{
        justify-content: center;
    }
    .partner-modal-wrap .ant-btn-text{
        order: -1;
        width: 100%;
        margin-top: var(--unit-16);
    }
 }