.header {
    background: var(--color-bg-blue);
    padding: 0px var(--unit-24) var(--unit-16);
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
}

.header-wrapper .header-title {
    max-width: 1050px;
    margin-bottom: 6px;
}

.header-btn {
    text-align: center;
}

.header-wrapper .ant-btn {
    padding: 4px 5px;
}

.ant-btn .header-btn__icon {
    display: inline-block;
}

.ant-btn .header-btn__text {
    display: inline-block;
}

@media screen and (max-width: 850px) {
    .header-wrapper .header-title {
        font-size: var(--unit-24);
        font-weight: 500;
        line-height: 31px;
        margin-bottom: 2px;
    }

    .ant-btn .header-btn__icon {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .header-wrapper {
        margin-top: 6px;
    }

    .header-wrapper .header-title {
        font-size: 20px;
        line-height: 26px;
    }

    .header-wrapper .ant-btn {
        background: var(--color-bg-card);
        border-radius: 50%;
        padding: 4px 7px;
    }

    .ant-btn .header-btn__icon {
        display: inline-block;
    }
    
    .ant-btn .header-btn__text {
        display: none;
    }
}
