.header{
    background: #F0F5FF;
    padding: 16px 24px;
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
}
.header-wrapper .header-title{
    max-width: 1050px;
    margin-bottom: 6px;
}
.header-btn{
    text-align: center;
}