.trapezoid{
    height: 66px;
    position: fixed;
    top: 50%;
    border-left: 20px solid #fff;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}

.trigger {
    position: absolute;
    top: 18px;
    left: -17px;
    width: 14px;
    height: 14px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
}
 
.trigger:hover {
    color: #1890ff;
}
 
.site-layout .site-layout-background {
    background: #fff;
}

.content-discription{
    background: #fff;
    max-width: 752px;
    padding: 24px;
}

.content-discription:first-child{
    margin-bottom: 24px !important;
}

.content-text{
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    color: #061178;
}
.content-subtitle{
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    color: #262626;
    margin-bottom: 0px;
}
.cards-wrapper{
    max-width: 752px;
    margin-top: 16px;
}