.auth-wrapper .ant-layout {
    height: 100vh;
    background: center / cover no-repeat url(/auth-page_light.png);
}

.auth-wrapper .ant-layout-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(121, 156, 212, 0.5);
    backdrop-filter: blur(5px);
}

.auth-card {
    max-width: 540px;
    margin: 0px 16px;
}

.auth-card .ant-card-body {
    padding: 64px 85px;
}

.auth-wrapper button,
.auth-wrapper input {
    height: 40px;
}

@media screen and (max-width: 570px) {
    .auth-card .ant-card-body {
        padding: 32px 16px;
    }
    .auth-card {
        margin: 0px 16px;
    }
}
