.auth-wrapper .ant-layout {
    height: 100vh;
    background: center / cover no-repeat url(/auth-page_light.png);
    
}

.auth-wrapper .ant-layout-content{
    display: flex;
    justify-content: center; 
    align-items: center;
    background: rgba(121, 156, 212, 0.5);
    backdrop-filter: blur(5px);
}

.auth-card{
    max-width: 540px;
}