.footer {
    margin: 362px 24px 42px;
}
.footer-card .ant-card-actions > li:not(:last-child) {
    border-right: none;
}
.footer .ant-row {
    align-items: end;
}
.footer .ant-btn-link {
    color: #2f54eb;
}
.footer .ant-card-body {
    padding: 12px 24px;
}
.footer a {
    color: #2f54eb;
}
@media screen and (max-width: 850px) {
    .footer {
        margin: 237px 24px 42px;
    }
}

@media screen and (max-width: 600px) {
    .footer {
        margin: 0px 24px 42px;
    }
    .footer .ant-col {
        width: 100%;
        text-align: center;
    }
    .footer .ant-row {
        gap: 24px;
    }
}
