.trapezoid-wrapper{
    position: absolute;
    right: 0;
    left: auto;
    z-index: 2;
    transition: all 0.3s;
}

.trapezoid-wrapper-collapsed{
    transform: translate(208px,0);
}

.trapezoid{
    height: 66px;
    position: fixed;
    top: 44%;
    border-left: 20px solid #fff;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}

.trigger {
    position: absolute;
    top: 18px;
    left: -17px;
    width: 14px;
    height: 14px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
}
 
.trigger:hover {
    color: #1890ff;
}

.logo-full {
    max-width: 133px;
    height: 33px;
    margin: 49px 30px;
}

.logo-hidden{
    margin: 25px 18px 60px 18px;
}

.logo-clever{
    opacity: 1;
    transition: 0.3s;
}

.logo-collapsed{
    width: 28px;
}

.menu .ant-menu-item:not(:last-child){
    margin-top: 16px;
}

.menu .ant-menu-item:last-child{
    margin-top: 630px;
    border-top: 1px solid #F0F0F0;
}
.menu .ant-menu-item:last-child .ant-menu-title-content{
    margin-left: 25px;
}

.sider-wrapper{
    position: relative;
}

@media screen and (max-width: 480px) {
    .sider-wrapper .ant-layout-sider{
         position: absolute;
         z-index: 1;
    }
    .trapezoid{
        top: 24px;
        height: 48px;
        border-left: 32px solid #fff;
    }
    .trigger{
        top: 10px;
        left: -23px;
    }
}