.comments-empty {
    background: #ffffff;
    margin-top: 30vh;
}

.text-wrapper {
    max-width: 520px;
    margin: 0 auto;
    padding: 56px 0px;
    text-align: center;
}

.comments-empty-btns {
    margin-top: 20px;
    text-align: center;
}

.comments-empty-btns .ant-btn-primary {
    height: 40px;
    background: #2f54eb;
    border-color: #2f54eb;
}

@media screen and (max-width: 500px) {
    .text-wrapper {
        padding: 48px 32px;
    }

    .comments-empty-btns .ant-btn-primary {
        width: 100%;
    }

    .comments-empty {
        margin-top: 0;
    }
}
