.form-label{
    background: var(--color-bg-grey);
    padding: 4px 8px;
    margin-bottom: 6px;
}
.drawer-form .item-approaches{
    width: 120px;
    margin-right: 32px ;
}
.item-weight,
.item-count{
    width: 90px;
}
.drawer-form .item-separator{
    color: var(--color-bg-grey);
    padding-top: 20px;
}
.drawer-form .ant-space{
    gap: 2px !important;
}
.drawer-form .ant-form-item{
    margin-bottom: 8px;
}
@media screen and (max-width: 630px) {
    .drawer-form .item-approaches{
        margin-right: 16px;
    }
}