.my-trainings .modal-training{
    position: absolute;
    left: 10px;
    padding: 0;
    width: 240px;
}
.my-trainings .modal-training .create-exercise{
    align-items: center;
    padding: var(--unit-16) var(--unit-12);
}
.my-trainings .modal-training .create-exercise__name{
    margin: 0 var(--unit-12);
}
.my-trainings .modal-training .modal-btn-wrapper{
    padding: 0 var(--unit-12) var(--unit-12);
    border-top: 1px solid var(--color-bg-grey-light);
}
.my-trainings .modal-training .modal-content .text-disabled{
    color: var(--color-disabled)
}
.my-trainings .modal-training .modal-content ul{
    padding: var(--unit-12);
}
.my-trainings .modal-training .create-exercise .modal-arrow{
    width: var(--unit-16);
    height: var(--unit-16);
}

@media screen and (max-width: 370px) {
    .my-trainings .modal-training{
        width: 310px;
        left: 0;
    }
}