.comment {
    margin-bottom: 20px;
}

.comment .ant-comment-inner {
    justify-content: space-evenly;
    padding: var(--unit-16);
}

.comment .ant-comment-avatar {
    width: 175px;
    text-align: center;
}

.comment-autor {
    max-width: 85px;
    padding-top: 12px;
    margin: 0 auto;
}

.comment .ant-comment-content {
    max-width: 1110px;
}

.comment .ant-rate {
    font-size: var(--unit-16);
    margin-right: var(--unit-16);
}

.comment-text {
    color: #8c8c8c;
}

.comment .ant-comment-content-author {
    margin-bottom: 12px;
}

.comment .ant-rate-star-full .anticon svg path:last-child,
.comment .ant-rate-star-full .anticon svg path:first-child,
.comment .ant-rate-star-zero .anticon svg path:last-child {
    fill: var(--color-warning);
}

.comment .ant-rate-star-zero .anticon svg path:first-child {
    fill: transparent;
}

.comment .ant-comment-avatar img{
    width: 42px;
    height: 42px;
}

@media screen and (max-width: 500px) {
    
    .comment .ant-comment-inner {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .comment-autor {
        display: inline-block;
        padding: 0 0 0 var(--unit-16);
    }

    .comment .ant-avatar {
        vertical-align: bottom;
    }

    .comment .ant-comment-avatar {
        text-align: left;
        margin-bottom: 12px;
    }

}
